body, html {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;

    font-family: "Poppins", serif;
}

.topbar {
    /* background-image: url("https://res.cloudinary.com/jerrick/image/upload/c_scale,f_jpg,q_auto/603fe617539f65001c1ac310.jpg"); */
    margin: 0px;
    height: 80%;
    background-size: 100%;
}

.topbar > img {
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.project-title { 
    font-size: 100px;
    font-weight: 700;

    bottom: 10%;
    position: absolute;
    text-align: center;
    /* width: 100%; */
    /* height: 20%; */
    /* top:80%; */
    background-color: white;
    color: black;
    padding: 20px;
    margin-left: 20px;
}

.content {
    margin: 0% 20% 0% 20%;
    padding: 10%;
    background-color: rgb(249, 249, 249);
}

.content > img {
    width: 100%;
}